<!-- Meta data -->
<meta charset="utf-8">
<meta name="robots" content="index, follow">
<meta name="author" content="Manoah Tervoort">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="This is a website for people to explore different movies.">
<meta name="keywords" content="movie, culture, explore">

<!-- Icons (made with: https://favicon.io/favicon-generator/ & https://realfavicongenerator.net/) -->
<link rel="icon" type="image/png" sizes="32x32" href="/img/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/img/icons/favicon-16x16.png">
<link rel="manifest" href="/img/icons/site.webmanifest">
<link rel="mask-icon" href="/img/icons/safari-pinned-tab.svg" color="#209cee">
<link rel="shortcut icon" href="/img/icons/favicon.ico">
<meta name="apple-mobile-web-app-title" content="Movies For You">
<meta name="application-name" content="Movies For You">
<meta name="msapplication-TileColor" content="#2d89ef">
<meta name="msapplication-config" content="/img/icons/browserconfig.xml">
<meta name="theme-color" content="#209cee">

<!-- Sitemap (the sitemap will be refreshed monthly) -->
<link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">

<!-- Assets -->
<link rel='stylesheet' href='/assets/main.css'>
<script src='/assets/bundle.js' defer></script>
