@import url("/css/message.css");

/* .form */
.form-container {
  width: 100%;
  border-radius: 5px;
  background-color: #f7f7f7;
  padding: 20px;
  margin-top: 20px;
  color: black;
}

.form-container p {
  text-align: center;
  font-size: 15px;
}

form > div > div {
  margin: 0 auto;
}

/* Label column */
.col-20 {
  float: left;
  width: 20%;
  margin-top: 6px;
}

/* Textarea column */
.col-60 {
  float: left;
  width: 60%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Text input area */
.form-container input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-family: "Trebuchet MS";
  background-color: white;
}

.form-container input:focus,
.form-container textarea:focus {
  border: 1px solid #4d90fe;
  outline: none;
}

/* Label */
.form-container .col-20 label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.form-container .col-20 label span {
  font-size: 10px;
}

/* Submit button */
.form-container input[type="submit"] {
  background-color: #4caf50;
  color: white;
  font-family: "Trebuchet MS";
  padding: 12px 20px;
  border: none;
  margin-top: 1px;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.form-container input[type="submit"]:hover {
  background-color: #45a049;
}

.form-container textarea {
  height: 200px;
}

.inputpic {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputpic + label {
  font-weight: bold;
  color: black;
  display: inline;
}

.inputpic:focus + label,
.inputpic + label:hover {
  color: #209cee;
  cursor: pointer;
}

/* Responsive layout for small .form-containers */
.form-container .responsive,
.responsive .col-20,
.responsive .col-60,
.responsive .row input[type="submit"] {
  width: 100%;
}
.responsive .row input[type="submit"] {
  display: block;
  margin-top: 20px;
  background-color: red;
  font-family: "Trebuchet MS";
}
.responsive .row input[type="submit"]:hover {
  background-color: #d10000;
}

.responsive .row input[type="submit"].green {
  display: block;
  margin-top: 20px;
  background-color: #4caf50;
  font-family: "Trebuchet MS";
}
.responsive .row input[type="submit"].green:hover {
  background-color: #45a049;
}

/* Responsive layout */
@media screen and (max-width: 705px) {
  .form-container,
  .col-20,
  .col-60,
  .form-container input[type="submit"] {
    width: 100%;
  }
  .form-container input[type="submit"] {
    display: block;
    margin-top: 20px;
  }
}
